@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// set defaults 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' ,sans-serif;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1,h2,h3{
    margin-bottom: 15px;
}

// color variables;
$primary-color:#77c9d4;
$succes-color:#57bc90;
$dark-color:#015249;
$secondary-color:#a5a5af;
$light-color:#fff;

// sizes

