.container{
    max-width: 900px;
    margin: auto;
}
.current{
    background: $succes-color;
}

// background classes
.bg-secondary{
    background: $primary-color;
    color: $light-color;
}

.bg-dark{
    background: #333;
    color: $light-color;
}

.bg-succes{
    background: $succes-color;
    color: $light-color;
}

.btn{
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
    font-weight: 500;
    &:hover{
        background:$light-color;
        color: $dark-color;
        opacity: 0.7;
    }
}

.btn-dark{
    background: $dark-color;
    color: $light-color;
    border: 1px solid $secondary-color;
    margin: 10px;
    border-radius: 5px;
}

.btn-outline-dark{
    color: $light-color;
    border: 1px solid $light-color;
}


// display class
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headding{
    font-size: 2.3rem;
    color: $light-color;
    font-weight: bold;
    span{
        color: $succes-color;
        font-size: 2.7rem;
        line-height: 2;
        letter-spacing: 0.2rem;
    }

}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    i{
        margin-bottom: 10px;
    }
    h3{
        margin: 10px ;
    }
    
    
}
.bg-light{
    i,h3{
        color: $primary-color;
    }
    
}
.lead{

        color: $secondary-color;
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: 2px;
        padding: 20px 0;
    
}